aiohttp
requests
botbuilder-core>=4.7.0
gunicorn==20.0.4
beautifulsoup4==4.5.3
imgurpython==1.1.7
pandas==0.25.2
lxml==4.6.3
pycparser==2.14   
Jinja2==2.10  
httplib2==0.9.2   
Flask    
Flask-Assets 
Flask-Babel
Flask-Script
